@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
        176deg,
        rgb(18, 24, 27) 50%,
        rgb(32, 39, 55) 100%
    );
    min-height: 100vh;
    background-attachment: fixed;
}
